:root {
    --primary-color: #6a1b9a;
    --secondary-color: #ffffff;
    --accent-color: #000000;
    --dark-grey: #969696;
    --light-grey: #c8c6c6;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
    font-family: 'Lobster', cursive;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: #3046c5;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
}

a:hover {
    color: var(--light-grey);
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(to left, #c4f0ed, #7a74eaff, var(--primary-color));
    padding: 20px 0;
    margin-top: 2rem;
}

.btn-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

.navbar-dark {
    background-color: var(--primary-color);
    background-image: linear-gradient(to right, #c4f0ed, #7a74eaff, var(--primary-color));
    margin-bottom: 2rem;
    min-height: 8rem;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}
